@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Nunito:wght@600&display=swap");

body {
  --color-brand-1:#6F00FF;
  --color-brand-2:#8629ff;
  --color-gray-0: #15171a;
  --color-gray-1: #212529;
  --color-gray-2: #2b2f33;
  --color-gray-3: #868e96;
  --color-gray-4: #adb5bd;
  --color-gray-5: #ced4da;
  --color-gray-6: #dee2e6;
  --color-gray-7: #f1f3f5;
  --color-gray-8: #f8f9fa;
  --color-gray-9: #fdfeff;

  --color-disable-fixed: #212529;
  --color-actived-fixed: #2b2f33;
  --color-white-fixed: #ffffff;

  --font-1: 1.75rem;
  --font-2: 1rem;
  --font-3: 0.875em;

  --radius-1: 0.25rem;
}

body.dark__mode {
  --color-brand-1: #9747ff;
  --color-gray-9: #15171a;
  --color-gray-8: #212529;
  --color-gray-7: #2b2f33;
  --color-gray-6: #868e96;
  --color-gray-5: #adb5bd;
  --color-gray-4: #ced4da;
  --color-gray-3: #dee2e6;
  --color-gray-2: #f1f3f5;
  --color-gray-1: #f8f9fa;
  --color-gray-0: #fdfeff;

  --color-disable-fixed: #212529;
  --color-actived-fixed: #2b2f33;
  --color-white-fixed: #ffffff;
}

body{
  font-family: "inter", sans-serif;
  font-style:  normal;
  background-color: var(--color-gray-8);
  width: 100%;
  height: 100%;
}

.title1{
  font-size: 24px;
  font-weight: 600;
  line-height: 29.05px;
  font-family: "inter", sans-serif;
  color: var(--color-gray-0);
}

body.dark__mode:root{
  background-color: var(--color-gray-1);
}

